body {
    font-family: 'Padauk', sans-serif;
    font-size: 17px;
}

header {
    font-family: 'JetBrains Mono', monospace;
    border-bottom: 1px solid rgb(177, 177, 177);
    display: flex;
}

header a {
    color: rgb(202, 102, 9);
}

header a:hover {
    text-decoration: none;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
    font-size: 20px;
}


img {
    width:400px;
    height: auto;
}


.post-entry {
    margin-bottom: 2rem;
}

.post-entry h2 {
    font-family: 'JetBrains Mono', monospace;
    margin: 0.5rem 0;
}

.post-entry h2 a {
    color:rgb(16, 167, 146);
}

.post-entry h2 a:hover {
    text-decoration: none;
}

.post-entry p {
    font-size: 20px;
    margin: 0;
}

.return a {
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
    color: rgb(202, 102, 9);
}

.return a:hover {
    text-decoration: none;
}

