html {
    margin-left: 250px;
    margin-right: 250px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body a {
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}


header {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    border-bottom: 1px solid rgb(177, 177, 177);
    display: flex;
    text-align: center;
    height: 130px;
    flex-shrink: 0;
}

header a {
    color: rgb(202, 102, 9);
    text-decoration: none;
}

header a:hover {
    color: rgb(204, 122, 44);
    text-decoration: none;
}



.nav-left {
    margin-right: auto;
    display: flex;
}

.nav-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.nav-main {
    display: flex;
    font-size: 20px;
}

.nav-main p a {
    margin-right: 10px;
    color: rgb(202, 102, 9);
}

.nav-main p a:hover {
    color: rgb(204, 122, 44);
}

img {
    width:250px;
    height: auto;
    display: inline-flex;
}


main {
    font-family: 'Roboto', sans-serif;
    flex: 1 0 auto;
}


main h2 {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}


.post-entry {
    margin-bottom: 2rem;
}

.post-entry p {
    font-size: 19px;
    margin: 0;
    padding-top: 0px;
}

.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a {
    color:rgb(16, 167, 146);
    text-decoration: none;
}

.post-entry h2 a:hover {
    color:rgb(83, 172, 160);
}

.post-entry a[href] {
    color:rgb(16, 167, 146);
}

.post-entry a[href]:hover {
    color:rgb(83, 172, 160);
}

.post-entry .additional-info p {
    font-size: 15px;
    color:rgb(92, 92, 92);
}

.return {
    margin-bottom: 10px;
}


.post-side h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 0.5rem 0;
}

.post-side a[href] {
    color: rgb(202, 102, 9);
    text-decoration: none;
}

.post-side a[href]:hover {
    color: rgb(204, 122, 44);
    text-decoration: none;
}

.post-edit {
    display: flex;
    flex-direction: row;
}

.post-edit p {
    margin-right: 10px;
    margin-top: 10px;
}

footer {
    border-top: 1px solid rgb(177, 177, 177);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    height: 90px;
    flex-shrink: 0;
}

.signup {
    text-align: initial;
}

.search {
    display: flex;
}