<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{% block title %}Jumping fox blog{% endblock title %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">

  </head>

  <body>
    <header>
      <nav class="nav-left">
        <h1><a href="{% url 'home' %}">Jumping fox blog</a></h1><br>
        <img src="{% static 'img/jumping-fox.jpg' %}", alt="Jumping fox">
      </nav>
      <nav class="nav-right">
        {% if user.is_authenticated %}
          <div class="logged-in">
            <p>Hi {{ user.username }}!</p>
            <p><a href="{% url 'post_new' %}">New post</a></p>
            <p><a href="{% url 'logout' %}">Logout</a></p>
          </div>
        {% else %}
          <div class="logged-out">
            <p><a href="{% url 'login' %}">Log In</a></p>
            <p><a href="{% url 'signup' %}">Sign up</a></p>
          </div>
        {% endif %}
      </nav>
    </header>


    <main>
      <nav class="nav-main">
        <p><a href="{% url 'home' %}">Home</a></p>
        <p><a href="{% url 'about' %}">About</a></p>
      </nav>
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      <p>Author: Krystian Garwol<br>
      <a href="mailto:krystian.garwol11@gmail.com">krystian.garwol11@gmail.com</a></p>
    </footer>


  </body>
</html>