{% extends 'base.html' %}

{% block content %}
    <form class="search" action="{% url 'search_results' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form><br>
    {% for post in all_posts %}
    <div class="post-entry">
        <div class="additional-info">
            <p>Author: {{ post.author }}</p>
            <p>Date: {{ post.pub_date|date:"SHORT_DATE_FORMAT" }} {{ post.pub_date|time:"h:i a" }}</p>
        </div>
        <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
        {% if post.body|length > 50 %}
            <p>{{ post.body|slice:":50" }}...</p>
        {% else %}
            <p>{{ post.body }}</p>
        {% endif %}
    </div>
    {% endfor %}
{% endblock content %}