{% extends 'base.html' %}


{% block content %}
    <div class="post-entry">
        <div class="additional-info">
            <p>Author: {{ post.author }}</p>
            <p>Date: {{ post.pub_date|date:"SHORT_DATE_FORMAT" }} {{ post.pub_date|time:"h:i a" }}</p>
        </div>
        <h2>{{ post.title }}</h2>
        <p>{{ post.body }}</p>
        {% if user.is_authenticated %}
            {% if user.id == post.author_id %}
            <p><a href="{% url 'post_edit' post.pk %}">Edit post</a></p>
            <p><a href="{% url 'post_delete' post.pk %}">Delete post</a></p>
            {% endif %}
        {% endif %}
    </div>
    <br>
    <p class="return"><a href="{% url 'home' %}">Return</a></p>
{% endblock content %}